.articles__heading

  h1
    +heading-font-family
    +font-size(alpha)
    +margin-top(5)
    +margin-bottom(2)

.articles__actions
  +margin-bottom(2)

  input
    @extend .input
    @extend .form__input--large
    +margin-bottom(1)
    +padding(0)
    +padding-bottom(0.5)
    border: none
    width: 100%
    border-bottom: 2px solid $base-body-color

.articles__actions__item

  button
    +margin-right(0.3)

  button.asc
    &:before
      content: "\25b4"
      +margin-right(0.3)

  button.desc
    &:before
      content: "\25be"
      +margin-right(0.3)

.articles__items
  width: 100%
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: baseline
  justify-content: space-between
  align-content: space-between

.articles__item
  width: 47%
  +margin-bottom(0.7)

  +at-breakpoint(tab)
    width: 33%

  +at-breakpoint(lap)
    width: 23%

.articles__item__body

.articles__item__inner
  background-color: $very-light-grey
  cursor: pointer
  transition: all 0.3s ease-in-out
  +padding(1)

  .no-touchevents &:hover
    background-color: rgba(237, 237, 237, 0.5)

    .articles__item__heading
      color: $blue

    .articles__item__cover
      img
        opacity: 0.8

.articles__items

  a
    text-decoration: none

  +at-breakpoint(desk)
    +margin(1)
    +margin-left(0)

.articles__item--document
  @extend .articles__item
  max-width: 450px

.articles__item__meta
  +font-size(micro)
  +margin-bottom(0.3)

.articles__item__author
  +font-size(milli)
  +vertical-margin(0.3)
  font-style: italic

.articles__item__heading
  +heading-font-family
  text-transform: uppercase
  color: $grey
  +font-size(zeta)

.articles__item__content
  +font-size(milli)
  +vertical-margin(0.3)
  display: none

  +at-breakpoint(lap)
    display: block

.articles__document__inner
  display: flex

.articles__item__cover
  max-width: 150px
  +margin-right(0.5)

.articles__item__action
  +vertical-margin(0.5)
  +font-size(milli)

.articles__item__action--delete

  &:before
    content: "\00274C"
    color: red
    +margin-right(0.3)

a.articles__item__action--delete
  text-decoration: none
