.articles__heading

  h1
    +heading-font-family
    +font-size(alpha)
    +margin-top(5)
    +margin-bottom(2)

.articles__items
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: baseline
  align-content: space-between

.articles__item
  max-width: 140px
  background-color: $very-light-grey
  +padding(0.7)
  +margin(0.5)
  +margin-left(0)
  cursor: pointer
  transition: all 0.3s ease-in-out

  .no-touchevents &:hover
    background-color: rgba(237, 237, 237, 0.5)

    .articles__item__heading
      color: $blue

    .articles__item__cover
      img
        opacity: 0.8

.articles__items

  a
    text-decoration: none

  +at-breakpoint(desk)
    +margin(1)
    +margin-left(0)

.articles__item--document
  @extend .articles__item
  max-width: 450px

.articles__item__meta
  +font-size(micro)
  +margin-bottom(0.3)

.articles__item__author
  +font-size(milli)
  +vertical-margin(0.3)
  font-style: italic

.articles__item__heading
  +heading-font-family
  text-transform: uppercase
  color: $grey
  +font-size(zeta)

.articles__item__content
  +font-size(milli)
  +vertical-margin(0.3)
  display: none

  +at-breakpoint(lap)
    display: block

.articles__document__inner
  display: flex

.articles__item__cover
  max-width: 150px
  +margin-right(0.5)
